/* sliding door effect referenced from 
https://codepen.io/samarkandiy/pen/EFyzB */

.elevatorDoor__container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.elevatorDoor__elevator div {
  /* background-color: lightgoldenrodyellow; */
  background-image: url("https://images.unsplash.com/photo-1519317245869-d6943e4a4f9a?ixlib=rb-0.3.5&s=3de9d0fa8ba424f30047879aa6035794&auto=format&fit=crop&w=1350&q=80");
  height: 65vh;
  width: 40vw;
  overflow: hidden;
  position: relative;
  float: left;
  box-sizing: border-box;
  transition: border 0.7s ease;
  display: flex;
  flex-direction: row;
}
.elevatorDoor__doorOpen {
  height: 65vh;
  width: 40vw;
  border-left: solid 40vw gray;
}
.elevatorDoor__doorClosed {
  border-left: solid 0px gray;
  /* border-image: url("https://images.unsplash.com/photo-1488467316657-b812f9f0aa19?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=70a5d021e2813d1abd0e31f49ed4cbae&auto=format&fit=crop&w=1350&q=80"); */
}
.elevatorDoor__controls {
  background-color: lightslategray;
  height: 30vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
