/* sliding door effect referenced from 
https://codepen.io/samarkandiy/pen/EFyzB */

.elevatorDoor__container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.elevatorDoor__elevator div {
  height: 55vh;
  width: 60vw;
  overflow: hidden;
  position: relative;
  float: left;
  box-sizing: border-box;
  transition: border 0.7s ease;
  display: flex;
  flex-direction: row;
}
.elevatorDoor__elevatorFloor0 {
  background-image: url("https://images.pexels.com/photos/6517/parking-multi-storey-car-park.jpg?cs=srgb&dl=multi-storey-car-park-parking-6517.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.elevatorDoor__elevatorFloor1 {
  background-image: url("https://images.pexels.com/photos/518244/pexels-photo-518244.jpeg?cs=srgb&dl=adults-airport-architecture-518244.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.elevatorDoor__elevatorFloor2 {
  background-image: url("https://images.pexels.com/photos/1170412/pexels-photo-1170412.jpeg?cs=srgb&dl=chairs-computers-contemporary-1170412.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.elevatorDoor__elevatorFloor3 {
  background-image: url("https://images.pexels.com/photos/1181394/pexels-photo-1181394.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.elevatorDoor__elevatorFloor4 {
  background-image: url("https://images.pexels.com/photos/262047/pexels-photo-262047.jpeg?cs=srgb&dl=architecture-ceiling-chairs-262047.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.elevatorDoor__elevatorFloor5 {
  background-image: url("https://images.unsplash.com/photo-1534438097545-a2c22c57f2ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5af2c666d147efdc4e5b17045be8289&auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.elevatorDoor__doorClosed {
  height: 55vh;
  width: 60vw;
  border-left: solid 60vw gray;
}
.elevatorDoor__doorOpen {
  border-left: solid 0px gray;
  animation: cssAnimation 0s ease-in 5s forwards;
  /* background-image: url("https://images.pexels.com/photos/1050305/pexels-photo-1050305.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    0px solid; */
}

.elevatorDoor__controls {
  background-color: url("https://images.pexels.com/photos/1050305/pexels-photo-1050305.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  height: 30vh;
  width: 15vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/*
*Reference for animation: https://stackoverflow.com/questions/21993661/css-auto-hide-elements-after-5-seconds
*/
@keyframes cssAnimation {
  from {
    border-left: solid 0px gray;
  }
  to {
    height: 55vh;
    width: 60vw;
    border-left: solid 60vw gray;
  }
}
